::ng-deep.mat-dialog-container{padding: 0px;}
::ng-deep.mat-expansion-panel-body {
    padding: 0 20px 16px !important;
}


//input
::ng-deep .mat-dialog-container {
    color: rgba(0,0,0,1);
}
.input_field{width: 100%;border-color: #dee2e6;}
.input_field1{width: 30%;border-color: #dee2e6;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.7em 0 !important;
}
::ng-deep .mat-form-field-wrapper{padding-bottom: 0.5rem;}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(167 167 167 / 4%);
}
.mat-expansion-panel-spacing {
    margin: 0px 0;
}

.font-size-1_5rem{font-size: 1.5rem;}
.scroll{height: 14rem;overflow-y: scroll;}
