::ng-deep.mat-dialog-container{padding: 0px;}

.header_colour{background-color: #4faf99;}

//input
::ng-deep .mat-dialog-container {
    color: rgba(0,0,0,1);
}
.input_field{width: 100%;border-color: #dee2e6;}
.input_field1{width: 30%;border-color: #dee2e6;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.7em 0 !important;
}
::ng-deep .mat-form-field-wrapper{padding-bottom: 0.5rem;}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(167 167 167 / 4%);
}


.font-size-1_5rem{font-size: 1.5rem;}
.scroll{height: 19rem;overflow-y: scroll;}



.editor {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    .NgxEditor__MenuBar {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  
    .NgxEditor {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: none;
    }
  
    .CodeMirror {
      border: 1px solid #eee;
      height: auto;
      margin-bottom: 0.7rem;
  
      pre {
        white-space: pre !important;
      }
    }
  }
  


  ::ng-deep.mat-dialog-container{padding: 0px;}
::ng-deep.mat-expansion-panel-body {
    padding: 0 0px 16px;
}

::ng-deep.mat-expansion-panel-body {
    padding: 0 0px 16px;
}
//input
::ng-deep .mat-dialog-container {
    color: rgba(0,0,0,1);
}
.mat-expansion-panel-spacing {
    margin: 0px 0;
}




::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
 }