
  // pagecss

  .border-green{border-color: #4faf99;}
  .nav-bg{background-color: #d3eee6;}
  .dark-green{color: #1f5a4c;}
  

    .input_field{width: 100%;border-color: #dee2e6;}
    .rightpane-field{font-size: 0.7rem;}
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {background-color: white;}
    
    .bg_light{background-color: rgb(243, 241, 241);}
    .pink{background-color: #fbc02d;}
    .circle{height: 2.3rem;width: 2.3rem;background-color: white;border-radius: 100%;color: #666666;}
    .circle:hover{background-color: rgb(224, 220, 220);}
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.5em 0 0.7em 0;
  }
  ::ng-deep .mat-form-field-wrapper{padding-bottom: 0.5rem;}
    .hvr-bounce-in {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
      }
      .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
      }
    
    
    
      ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: #666666!important;
      }


.whs-tab{background-color: white;color: #666666;}
.whs-tab:hover{background-color: #666666;color: white;}



.scroll{height: calc(100vh - 15.2rem)!important;overflow-y: scroll !important;overflow-x: hidden;}
.input_field{width: 100%;border-color: #dee2e6;}
.input_field1{width: 30%;border-color: #dee2e6;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.7em 0 !important;
}
::ng-deep .mat-form-field-wrapper{padding-bottom: 0.5rem;}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(167 167 167 / 4%);
}
.mat-header-cell {
    font-size: 14px;
    font-weight: 600;
    color: rgb(53, 53, 53);
    background-color: #f1f1f1;
    filter: drop-shadow(0px 3px 0px rgba(0,0,0,0.15));
}


//sidenav

.example-sidenav{width: 29rem;}
::ng-deep.mat-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden  ;
    overflow-y: hidden !important;
    -webkit-overflow-scrolling: touch;
  }
  ::nd-deep .mat-drawer-inner-container{overflow: none !important;}

::ng-deep .mat-paginator {
  background: #f5f5f5 !important;
}
//inner header
::ng-deep .action-button{border-radius: 4px !important;min-width: 6rem !important;min-height: 2.3rem !important;}
.floating-buttons {
  border-radius: 50% !important;
  height: 40px !important;
  width: 40px !important;
}
.mat-mini-fab:not([class*=mat-elevation-z]) {
  box-shadow: none;
  border-radius: 0%;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}


//tabbar

::ng-deep .mat-ink-bar{
  height: 0px !important
}


a{text-decoration: none !important;}
//new design css

.tabbar{
height: 3.1rem;
}

// .tabbar{filter: drop-shadow(-12px 0px 6px rgba(0, 0, 0, 0.15)) drop-shadow(10px 0px 6px rgba(0, 0, 0, 0.15));}

.menu{width: 10rem;}
.blue{background-color: rgba(87, 160, 228, 0);}
.blue-text{color: #666666;}
//tabbar
.icon{padding: 0rem 2rem;height: 3rem;border-radius: 10px;margin-left: 1.5rem; margin-right: 1.5rem;}
.active{ padding: 0rem 2rem;height: 3rem;filter: drop-shadow(0px -3px 3px rgba(0, 0, 0, 0.25)) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));border-radius: 10px;background-color: white;
margin-left: 1.5rem; margin-right: 1.5rem;}


.blue:hover{background-color: rgba(102, 102, 102, 0.3);}
.blue-text{color: #006990;}

a{text-decoration: none;}




.mat-column-select {flex: 0 0 17% !important; width: 5% !important;padding-right: 20px !important;}
.mat-column-statusicon {flex: 0 0 17% !important; width: 5% !important;padding-right: 20px !important;}
.mat-column-handlingUnit {flex: 0 0 17% !important; width: 13% !important;padding-right: 20px !important;}
.mat-column-statusId {flex: 0 0 17% !important; width: 13% !important;padding-right: 20px !important;}
.mat-column-createdby {flex: 0 0 17% !important; width: 13% !important;padding-right: 20px !important;}