.size{
    width: 100%; height: 20rem; display: block;
 }
 
 
 
 @media (max-width: 1367px) {
     .size{
    width: 100%; height: 17rem; display: block;
 }
   }


   ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.7em 0 !important;
}
::ng-deep .mat-form-field-wrapper{padding-bottom: 0.5rem;}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(167 167 167 / 4%);
}