.card {
    border-radius: 0px !important;
}

.card-body:hover{
    background-color: #f3f3f3 !important;
}

.notifysize{
    font-size: 12px !important;
}

.notification-box{
    max-height: calc(100vh - 30rem) !important;
    overflow-y: scroll;
}

::ng-deep .p-overlaypanel .p-overlaypanel-content {
    padding: 0rem !important; 
    width: 21rem !important;
}