
.mat-expansion-panel-spacing { margin: 0px 0;}

::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {box-shadow: none;}

.input_field{width: 80%;border-color: #dee2e6;}
.input_field1{width: 30%;border-color: #dee2e6;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.7em 0;
}
::ng-deep .mat-form-field-wrapper{padding-bottom: 0.5rem;}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(167 167 167 / 4%);
}


.scroll{height: 13rem;overflow-y: scroll;}

.input_field{width: 100%;border-color: #dee2e6;}
.input_field1{width: 30%;border-color: #dee2e6;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.7em 0 !important;
}
::ng-deep .mat-form-field-wrapper{padding-bottom: 0.5rem;}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(167 167 167 / 4%);
}
.mat-header-cell {
    font-size: 14px;
    font-weight: 600;
    color: rgb(53, 53, 53);
    background-color: #f1f1f1;
    filter: drop-shadow(0px 3px 0px rgba(0,0,0,0.15));
}


.scroll2{width: 190rem!important;}

.scroll1{width: 100rem;overflow-y: scroll;height: 31.9rem;}


::ng-deep .mat-expansion-panel-body {
    padding: 0 24px 0px !important  ;}

    ::ng-deep .action-button{border-radius: 4px !important;min-width: 6rem !important;min-height: 2.3rem !important;}
.floating-buttons {
  border-radius: 50% !important;
  height: 40px !important;
  width: 40px !important;
}
.mat-mini-fab:not([class*=mat-elevation-z]) {
  box-shadow: none;
  border-radius: 0%;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}
.mat-column-select {flex: 0 0 17% !important; width: 2% !important;padding-right: 20px !important;}
.mat-column-no{flex: 0 0 17% !important; width: 4% !important;padding-right: 20px !important;}
.mat-column-warehouseId {flex: 0 0 17% !important; width: 4% !important;padding-right: 20px !important;}
.mat-column-itemCode {flex: 0 0 17% !important; width: 4% !important;padding-right: 20px !important;}
.mat-column-itemDesc {flex: 0 0 17% !important; width: 11% !important;padding-right: 20px !important;}
.mat-column-manufacturerPartNo {flex: 0 0 17% !important; width: 3.5% !important;padding-right: 20px !important;}
.mat-column-storageSectionId {flex: 0 0 17% !important; width: 3.5% !important;padding-right: 20px !important;}
.mat-column-storageBin {flex: 0 0 17% !important; width: 5% !important;padding-right: 20px !important;}
.mat-column-packBarcodes {flex: 0 0 17% !important; width: 5% !important;padding-right: 20px !important;}
.mat-column-stockTypeId {flex: 0 0 17% !important; width: 5% !important;padding-right: 20px !important;}
.mat-column-inventoryQuantity {flex: 0 0 17% !important; width: 6% !important;padding-right: 20px !important;}
.mat-column-countedQty {flex: 0 0 17% !important; width: 5% !important;padding-right: 20px !important;}
.mat-column-firstCountedQty {flex: 0 0 17% !important; width: 6% !important;padding-right: 20px !important;}
.mat-column-secondCountedQty {flex: 0 0 17% !important; width: 7% !important;padding-right: 20px !important;}
.mat-column-outboundQuantity {flex: 0 0 17% !important; width: 6% !important;padding-right: 20px !important;}
.mat-column-frozenQty {flex: 0 0 17% !important; width: 6% !important;padding-right: 20px !important;}
.mat-column-inboundQuantity {flex: 0 0 17% !important; width: 6% !important;padding-right: 20px !important;}
.mat-column-cycleCounterId {flex: 0 0 17% !important; width: 3.5% !important;padding-right: 20px !important;}
