.whs-scroll::-webkit-scrollbar {-webkit-appearance: none !important; width: 0px !important;} 


.borderGrey{border: 1px solid rgba(0, 0, 0, 0.125);}


.whs-card-tile{height: 17rem;}
.whs-scroll{height: 14.7rem;overflow-y: scroll;}





  .whs-scroll{height: 14.7rem;overflow-y: scroll;}
.whs-green{background-color: #78e094;}
.whs-red{background-color: #ee696b;}
.whs-dark{background-color: #7e7e80;}
.whs-purple{background-color: #8fc9d8;}
.whs-grey{background-color: #a4a9aa;}
.whs-pink{background-color: #acb1b0;}
.whs-yellow{background-color: #f5cc65;}
.whs-lightblue{background-color: #9e9e9e;}


.whs-border-grey{border-color: #969595 !important;}
.whs-border-purple{border-color: #709aa5 !important;}
.whs-border-green{border-color: #5dbe77 !important;}

.list-group-item {
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}